body {
  margin: unset;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  //overflow: hidden;
}

main {
  flex: 1;
  max-width: 100vw;
  padding: $base-space;
  section {

  }
  @media only screen and (max-width: 880px) {
    section {

    }
  }
}


h2, h3, h4, h5, h6 {
  color: $accent2;
  font-size: $base-font-size * 2.5;
  font-family: $display-font;
  font-weight: 400;
  margin: 0;
}

h1 {
  color: $accent2;
  font-size: $base-font-size * 2;
  white-space: nowrap;
  font-family: $display-font;
  font-weight: 400;
  margin: 0 auto;
}

h2 {
  margin-bottom: $base-space / 2;
}

p, li {
  font-size: $base-font-size;
  font-family: $body-reg;
  font-weight: 400;
  color: $dark-text-color;
  margin: 0 0 $base-space 0;
  line-height: 26px;
  a {
    color: $accent2;
  }
}

b {
  font-family: $body-reg;
}

a {
  font-family: $body-reg;
  text-decoration: none;
  color: $dark-text-color;
  &.anchor-tag {
    height: 30px;
    width: 30px;
    margin-top: -30px;
    display: block;
    position: absolute;
  }
  &:focus {
    outline: none;
  }
  transition: color .25s;
  @media only screen and (min-width: 600px) {
    &:hover {
      color: $accent1;
      .fas {
        color: $accent1;
      }
    }
  }
}

.fas {
  font-size: $base-font-size * 1.25;
  transition: color .25s;
}

.reversed {
  p {
    letter-spacing: .1px;
  }
  a {
    @media only screen and (min-width: 600px) {
    }
  }
}