body {
  margin: unset;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: #332c8a;
}

main {
  flex: 1;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  section {
    width: 100%;
    height: auto;
    position: absolute;
    max-width: 2800px;
    svg {
      display: block;
    }
    p {
      margin: 0;
    }
  }
  @media only screen and (max-width: 880px) {
    section {

    }
  }
}