//TODO
//
//
//  2. replace "url(#a) from defs with radial gradient
//  3. transfer all colors into variables
//  4. transfer stroke miter and width to variables

.title {
  fill: #2b1881;
  .leadin { }
  .name { }
}

.popup {
  display: flex;
  .help-text {
    font-size: 80px;
    font-family: Montserrat, sans-serif;
    color: #2b1881;
    font-weight: 400;
    text-align: center;
    background: #e9e0ff;
    opacity:0.95;
    padding: 80px;
    border-radius: 150px;
  }
}

.item-shop {
  margin-top: -40px;
  background-color: #2b1881;
}

.smoke {
  fill: #e9e0ff;
  .smoke-1 {opacity:0.95;}
  .smoke-2 {opacity:0.6;}
  .smoke-3 {opacity:0.6;}
  .smoke-4 {opacity:0.6;}
}

.gacha {
  .crystal-ball {
    .ball-back {
      fill: #7ae6d6;
      fill-opacity: 0.7000000000000001;
      stroke: #7ae6d6;
      stroke-miterlimit: 10;
      stroke-width: 15px;
    }

    .gacha-ball {
      circle {
        fill: #009faf;
        stroke: #332c8a;
        stroke-miterlimit: 10;
        stroke-width: 15px;
      }
      path {
        fill: none;
        stroke: #2b1881;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 15px;
      }
    }

    .ball-front {
      fill-opacity: 0.8;
      stroke: #7ae6d6;
      stroke-miterlimit: 10;
      stroke-width: 15px;
      fill: url(#b); //this is where I need to put the radial gradient
    }
  }

  .gacha-back {
    fill: #962faf;
  }

  .strut {
    .top {
      fill: #a642c4;
    }
    .bottom {
      fill: #962faf;
    }
  }

  .gacha-shadow {
    fill: #962faf;
  }

  .gacha-base{
    fill: #bb50d9;
  }

  .turn-plate {
    .plate-shadow {
      fill: #962faf;
    }
    .plate {
      fill: #a642c4;
    }
  }

  .gacha-handle {
    .handle {
      fill: #f9b424;
    }
    .handle-shading {
      fill: #f6970e;
    }
    .handle-shadow {
      fill: #962faf;
    }
  }


  .coin-slot {
    .slot-shadow {
      fill: #6b0dad;
    }
    .slot {
      fill: #962faf;
    }
    .curls {
      .curl-shadows {
        fill: #962faf;
        .dark {
          fill: #6b0dad;
        }
      }
      .curl {
        fill: #fdd761;
      }
    }
  }


  .ball-drop {
    .drop-shading {
      fill: #962faf;
    }
    .drop {
      fill: #6b0dad;
    }
    .curls {
      .curl-shadows {
        fill: #a642c4;
      }
      .curl {
        fill: #fdd761;
        &.dark {
          fill: #f9b424;
        }
      }
    }
  }

  .dragon {
    .dragon-body {
      fill: #f9b424;
    }
    .dragon-shading {
      fill: #f6970e;
    }
    .dragon-eye {
      fill: #fdd761;
    }
  }

  .curls {
    .curl-shadows {
      fill: #a642c4;
    }
    .curl-shading {
      fill: #f9b424;
    }
    .curl {
      fill: #fdd761;
    }
  }

  .feet {
    .foot {
      fill: #a642c4;
    }
    .foot-shadows {
      fill: #962faf;
    }
    .foot-curl {
      fill: #f9b424;
      &.dark {
        fill: #f6970e;
      }
    }
  }
}

.main-coin {
    .edge {
      fill: #fdd761;
    }
    .face {
      fill: #f9b424;
    }
    .shadow {
      fill: #f6970e;
    }
    .icons {
      path {
        fill: #f6970e;
      }
      .oracle {display: block;}
      .barbarian {display: none;}
      .bard {display: none;}
      .cleric {display: none;}
      .druid {display: none;}
      .fighter {display: none;}
      .monk {display: none;}
      .paladin {display: none;}
      .ranger {display: none;}
      .rogue {display: none;}
      .sorcerer {display: none;}
      .warlock {display: none;}
      .wizard {display: none;}
    }
    .numbers {
      path, rect {
        fill: #f9b424;

        //----Increase weight------
        //stroke: #f9b424;
        //stroke-linecap: round;
        //stroke-linejoin: round;
        //stroke-width: 2px;
      }
      .one {display: block;}
      .two {display: none;}
      .three {display: none;}
      .four {display: none;}
      .five {display: none;}
      .six {display: none;}
      .seven {display: none;}
      .eight {display: none;}
      .nine {display: none;}
      .ten {display: none;}
      .eleven {display: none;}
      .twelve {display: none;}
      .thirteen {display: none;}
      .fourteen {display: none;}
      .fifteen {display: none;}
      .sixteen {display: none;}
      .seventeen {display: none;}
      .eighteen {display: none;}
      .nineteen {display: none;}
      .twenty {display: none;}
    }
  }

.coin-stack {
  .coin {
    .shadow {
      fill: #f6970e;
    }
    .edge {
      fill: #f9b424;
    }
    .ridge {
      fill: #fdd761;
      opacity: 0.4;
    }
  }
}

.search-glass {
  .glass-back {
    fill: #2b1881;
  }
  .gacha-reflection {
    .shadow {
      fill: #19122f;
      opacity: 0.5;
    }
    .shading {
      fill: #962faf;
    }
    .base {
      fill: #bb50d9;
    }
    .strut {
      fill: #fdd761;
    }
    .foot {
      fill: #a642c4;
    }
    .curl {
      fill: #f9b424;
      &.dark {
        fill: #f6970e;
      }
    }
  }
  .lens {
    fill: #7ae6d6;
    fill-opacity: 0.8;
  }
  .rim-shading {
    fill: none;
    stroke: #962faf;
    stroke-miterlimit: 10;
    stroke-width: 20px;
  }
  .handle-shading {
    fill: #962faf;
  }
  .lens-gradient {
    fill-opacity: 0.7000000000000001;
    fill: url(#c);
  }
  .rim {
    fill: none;
    stroke: #bb50d9;
    stroke-miterlimit: 9.99999969976006;
    stroke-width: 30px;
  }
  .lens-glare {
    fill: #7ae6d6;
    opacity: 0.7000000000000001;
  }
  .handle {
    fill: #bb50d9;
  }
  .curls {
    .shadows {
      fill: #a642c4;
    }
    .shading {
      fill: #f9b424;
    }
    .curl {
      fill: #fdd761;
    }
  }
}

.item-chest {
  .lid {
    .divider {
      fill: #962faf;
    }
    .base {
      fill: #bb50d9;
    }
    .inset {
      fill: #a642c4;
    }
    .fluff {
      fill: #bb50d9;
    }
    .fluff-shadow {
      fill: #a642c4;
      &.dark {
        fill: #962faf;
      }
    }
    .lock {
      .face {
        fill: #f9b424;
      }
      .face-shading {
        fill: #f6970e;
      }
      .keyhole {
        fill: #6b0dad;
      }
      .keyhole-shading {
        fill: #962faf;
      }
      .hinge {
        fill: #f9b424;
      }
      .hinge-shading {
        fill: #f6970e;
      }
    }
    .curls {
      .curl {
        fill: #f9b424;
      }
      .curl-shading {
        fill: #f6970e;
      }
      .curl-shadows {
        fill: #962faf;
      }
    }
  }
  .box {
    .face {
      fill: #bb50d9;
    }
    .top-edge {
      fill: #a642c4;
    }
    .inset {
      fill: #a642c4;
    }
    .fluff {
      fill: #bb50d9;
    }
    .fluff-shadow {
      fill: #a642c4;
      &.dark {
        fill: #962faf;
      }
    }
    .inside {
      fill: #6b0dad;
      &.back {
        opacity: 0.8;
      }
    }
    .inside-shadow {
      fill: url(#a); //this is where I need to put the radial gradient
    }
  }
}

.chest-key {
  .key {
    fill: #fdd761;
  }
  .shading {
    fill: #f9b424;
  }
}

.shadows {
  fill: #19122f;
  opacity: 0.2;
  .faded {
    opacity: 0.5;
  }
}

.background {
  .shop {
    stroke: #009faf;
    stroke-linejoin: round;
    stroke-width: 15px;
    .shelves {
      fill: #332c8a;
    }
    .table {
      fill: #332c8a;
      stroke: #332c8a;
    }
    .dark {
      fill: #2b1881;
    }
    .light {
      fill: #332c8a;
    }
    .no-fill {
      fill: none;
    }
  }
}