.button {
  &.coin {
    width: 100px;

    .st0 {
      fill:#FFFFFF;
      stroke:#9D74AE;
      stroke-width:3;
      stroke-linejoin:round;
      stroke-miterlimit:10;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.oracle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .oracle-main {
    position: relative;
    width: 500px;

    .oracle-base {
      position: absolute;
      width: 100%;
      .st0 {
        fill: #FFFFFF;
        stroke: #9D74AE;
        stroke-width: 6;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
      .st1 {
        display: none;
        fill: #FFFFFF;
        stroke: #9D74AE;
        stroke-width: 6;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
      .st2 {
        fill: #FFFFFF;
        stroke: #9D74AE;
        stroke-width: 6;
        stroke-miterlimit: 10;
      }
    }

    .coin-cover {
      position: absolute;
      width: 13.5%;
      left: 43%;
      top: 371px;

      .st0 {
        fill: #FFFFFF;
      }
      .st1 {
        fill: #FFFFFF;
        stroke: #9D74AE;
        stroke-width: 3;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    }

    .handle {
      position: absolute;
      width: 15%;
      left: 42.25%;
      top: 401px;

      .st0 {
        fill: #FFFFFF;
        stroke: #9D74AE;
        stroke-width: 6;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    }

    .ball-cover {
      position: absolute;
      width: 44%;
      left: 28%;
      top: 534px;

      .st0 {
        fill: #FFFFFF;
      }
      .st1 {
        fill: #FFFFFF;
        stroke: #9D74AE;
        stroke-width: 6;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    }
  }
}